<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">

        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/home/ubuntu/fitlersapp/logs/fitlers_server.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/home/ubuntu/fitlersapp/logs/archived/fitlers_server.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- each archived file, size max 10MB -->
                <maxFileSize>10MB</maxFileSize>
                <!-- total size of all archive files, if total size > 2GB, it will delete old archived file -->
                <totalSizeCap>2GB</totalSizeCap>
                <!-- 10 days to keep -->
                <maxHistory>10</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </encoder>
        </appender>
        
         <appender name="CLIENT_LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/home/ubuntu/fitlersapp/logs/fitlers_client.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/home/ubuntu/fitlersapp/logs/archived/fitlers_client.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- each archived file, size max 10MB -->
                <maxFileSize>10MB</maxFileSize>
                <!-- total size of all archive files, if total size > 2GB, it will delete old archived file -->
                <totalSizeCap>2GB</totalSizeCap>
                <!-- 10 days to keep -->
                <maxHistory>10</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </encoder>
        </appender>

        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
         <level value="DEBUG" />
        </logger>
        
        <logger name="com.fitlers.processors.ClientLoggingRequestProcessor" level="INFO">
         <appender-ref ref="CLIENT_LOGGER" />
        </logger>
        
        <root level="INFO">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

</configuration>